.border-style-groove {
    border-style: groove;
}

.border-style-ridge {
    border-style: ridge;
}

.border-style-dotted {
    border-style: dotted;
}

.border-style-solid {
    border-style: solid;
}