<h1 class="fs-12 border-bottom-2 border-black border-style-groove text-align-center">
  Editing recipe <%= @recipe.id %>
</h1>

<%= render "form", recipe: @recipe %>

<div>
  <%= link_to "Show this recipe", @recipe %> |
  <%= link_to "Back to recipes", recipes_path %>
</div>
