<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <ul>
      <li id="<%= dom_id recipe %>">
        <%= link_to recipe.name, recipe %>
      </li>
    </ul>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
