<%= turbo_frame_tag("new_step") do %>
  <%= form.fields_for :steps do |steps_form| %>
    <li>
      <!-- TODO/STARTHERE this needs to match what the form_with
      form helpers make for the step HTML form elements in recipes _form -->
    </li>
  <% end %>

  <li>
    <%= turbo_frame_tag("new_step") do %>
      <%= link_to "New step", new_recipe_step_path(@recipe) %>
    <% end %>
  </li>
<% end %>
