<h1 class="fs-12 border-bottom-2 border-style-groove text-align-center">
  New ingredient
</h1>

<%= render "form", ingredient: @ingredient %>

<div>
  <%= link_to "Back to ingredients", ingredients_path %>
</div>
