<h1 class="fs-8 text-align-center mb-2 border-bottom-2 border-black border-style-groove">Pantry</h1>

<div class="flex">
  <a class="box-link
        inline-block text-align-center cursor-pointer
        border-around-2 border-style-ridge
        flex justify-around
        flex-1
        min-w-32 ml-2 mr-2 mb-4 p-4"
      
      href = "<%= ingredients_path %>">
      Ingredients
  </a>

  <a class="box-link
        inline-block text-align-center cursor-pointer
        border-around-2 border-style-ridge
        flex justify-around
        flex-1
        min-w-32 ml-2 mr-2 mb-4 p-4"
      
      href = "<%= recipes_path %>">
      Recipes
  </a>
</div>
