.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-auto {
    flex: auto;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}