.w-4 {
    width: 1rem;
}

.w-6 {
    width: 1.5rem;
}

.w-8 {
    width: 2rem;
}

.w-auto {
    width: auto;
}

.width-max-content {
    width: max-content;
}

.width-full {
    width: 100%;
}

.width-half {
    width: 50%;
}