<%= turbo_frame_tag("new_step") do %>
  <li data-controller="step-form--new" class="step-list-item">
    <div class="flex">
      <div class="flex-grow-1 mr-1">
        <label data-step-form--new-target="stepLabel"></label>
        <textarea rows="1" data-step-form--new-target="stepTextarea"></textarea>
      </div>

      <div class="flex-grow-1">
        <label data-step-form--new-target="notesLabel">Notes:</label>
        <textarea rows="1" data-step-form--new-target="notesTextarea"></textarea>
      </div>

      <div class="flex flex-col justify-around">
        <button
            type="button"
            title="Remove step"
            class="remove-step-button mt-4"
            data-action="click->step-form--new#removeStep">
          <%= render partial: "layouts/heroicons/trash", locals: { css_class: "w-6 h-6" } %>
        </button>
      </div>

      <input data-step-form--new-target="numberInput" autocomplete="off" type="hidden"/>
    </div>
  </li>

  <li>
    <%= turbo_frame_tag("new_step") do %>
      <%= link_to "New step", new_step_path %>
    <% end %>
  </li>
<% end %>
